@import "~react-loading-skeleton/dist/skeleton.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-icon {
  @apply w-6 h-6 mx-2 my-1;
}

.login-form label,
.signup-form label {
  @apply block text-black mb-2 text-base font-bold;
}

.login-input,
.signup-form input:not(#checkbox) {
  /* h-[55px] md:h-[65px] border-[#1A1D3E33] */
  @apply bg-transparentBg focus-within:border-textColor w-full border-2 rounded-xl text-black p-4 focus:border-[2px] focus:outline-none text-sm md:text-base;
}
.form-container__input__error {
  @apply focus:border-[1px] focus:outline-none focus:border-red-500 border-[1px] border-red-500;
}

.error-message {
  @apply text-red-500 capitalize;
}

.password-requirements {
  @apply flex flex-col list-disc pl-4;
}

.password-requirements > li {
  @apply text-gray-400;
}

.error-message__light {
  /* mx-2 */
  @apply text-red-500 text-center text-[14px] font-[200] leading-[150%];
}

.heading {
  @apply font-[800] text-[33px] mb-12;
}
.heading-two {
  @apply font-[700] text-[22px];
}

.header {
  margin-bottom: 20px;
  /* @apply flex justify-center items-center; */
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details {
  width: 100%;
  /* @apply flex  flex-col justify-center items-center; */
}

/* Modal Styles */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-dropdown {
  @apply flex flex-col rounded-xl overflow-hidden;
}
.search-dropdown li {
  @apply py-2 px-4 bg-purple transition-all ease-in-out duration-200 hover:bg-lavender hover:text-purple cursor-pointer;
}
.search-dropdown li:not(:last-child) {
  @apply border-b-2 border-white;
}
.category-table thead th:not(:first-child):not(:last-child) {
  @apply border-l-2 border-r-2;
}
/* .category-table tbody td:not(:first-child):not(:last-child) {
  @apply border-l-2 border-r-2;
} */
.category-table thead th:first-child {
  @apply rounded-l-xl;
}

.category-table thead th:last-child {
  @apply rounded-r-xl;
}

.category-table tbody tr:nth-child(even) {
  background-color: #e8ebee; /* Subtle light gray */
}

.category-table tbody tr:nth-child(odd) {
  background-color: white; /* White */
}
.create-category__sidebar__container {
  @apply flex flex-col z-10 gap-4;
}
.create-category__sidebar__container label {
  @apply text-white font-[600] grid gap-2 items-center;
}
.create-category__sidebar__container label input {
  @apply w-[20rem] h-[3rem] bg-white text-black font-[400] px-4;
}

.create-category__sidebar__container button {
  @apply w-[20rem] h-[3rem] bg-white px-4;
}

.gradient-text-color {
  @apply text-transparent font-[600]  bg-gradient-to-r from-yellow via-purple to-green bg-clip-text;
}
